.container{
  width: 40rem;
  height: 40rem;
  border-radius:1rem ;
  background-color: azure;

  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  border: 1px solid black;
}

.title{
  font-size: 2rem;
  color: black;
}