.container{
  width: 90%;
  height: 90%;
  border-radius:1rem ;
  background-color: azure;
  
  overflow-y: scroll;
  
  display: flex;
  flex-direction: column;
  gap: 1rem;

  grid-row-start: 1;
  grid-row-end: 3;

  grid-column-start: 1;
  grid-column-end: 2;

  place-self: center;

  border: 1px solid black;
}

.title{
  font-size: 2rem;
  color: black;
}