.container {
  width: 50%;
  height: 80%;
  margin: auto auto;
  background-color: aqua;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-y: scroll;
  padding: 1rem;
  gap: 1rem;
}