.shift {
  margin:0 auto;
  width: 90%;
  height: 7rem;
  border-radius: 1rem;

  padding: .5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.borderOrange {
  border: 2px solid rgb(239, 139, 110);
  background-color: rgba(239, 139, 110,.2);
}

.borderBlue {
  border: 2px solid rgb(21, 92, 145);
  background-color: rgba(21, 92, 145,.2);
}

.petData{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: self-start;
}

.petDataTitle{
  font-size: 1rem;
  color: black;
  font-weight: 500;
}

.shiftHour, .shiftType{
  font-size: 1.5rem;
  color: black;
}

.buttonsActions{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.button {
  border-radius: .3rem;
  border: none;
  width: 7rem;
  height: 2rem;
  color: white;
}

.button:hover{
  opacity: .8;
}

.buttonComplete {
  background-color: #00a474;
}

.buttonCancel {
  background-color: #e31749;
}

.button:hover{
  cursor: pointer;
}