#root {
  border: 1px solid black;
  max-width: 1440px;
  width: 100%;
  height: calc(100vh - 2rem);
  margin: 1rem auto;
  text-align: center;
  border-radius: 1rem;
  overflow: hidden;

  display: flex;
}

h2{
  color: black;
}


